

  <!-- Footer -->
  <footer class="page-footer grey darken-4 white-text">
      <div class="container">
          <div class="row center">
            <div class="col s12">
              This site is powered by open-source technologies. Thank you!<br />
              <a class="grey-text" target="_blank" href="http://www.brackets.io/">brackets</a> / 
              <a class="grey-text" target="_blank" href="https://git-scm.com/">git</a> + 
              <a class="grey-text" target="_blank" href="https://git-scm.com/">github</a> / 
              <a class="grey-text" target="_blank" href="https://nodejs.org/en/">node</a> + 
              <a class="grey-text" target="_blank" href="http://expressjs.com/">ghost</a> / 
              <a class="grey-text" target="_blank" href="http://materializecss.com">materialize</a>
            </div>
        </div>
      </div>
  </footer>

  <!-- Modals -->
  <div id="modal"></div>

  <!-- JS -->
  <!-- Vendor -->
  <script src="/scripts/vendor/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/TweenMax.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/materialize.min.js" type="text/javascript"></script>
  <!-- App -->
  <script src="/scripts/script.js" type="text/javascript"></script>
  <script src="/scripts/navigation.js" type="text/javascript"></script>
  <script src="/scripts/animations.js" type="text/javascript"></script>
</body>
