<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{master.title}} {{#if page}} &rsaquo; {{page}}{{/if}}
    </title>

    <!-- CSS -->
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->


  </head>
  
  <body>
    
    <!-- Header -->
    <header role="main">

    </header>