<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{master.title}} {{#if page}} &rsaquo; {{page}}{{/if}}
    </title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->
    

  </head>
  
  <body>
    
    <!-- Nav -->
    <header>
     
      <nav class="white">
        <ul id="slide-out" class="side-nav">
          <li><a class="waves-effect" href="#!">First Sidebar Link</a></li>
          <li><a class="waves-effect" href="#!">Second Sidebar Link</a></li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="waves-effect collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                    <li><a class="waves-effect" href="#!">First</a></li>
                    <li><a class="waves-effect" href="#!">Second</a></li>
                    <li><a class="waves-effect" href="#!">Third</a></li>
                    <li><a class="waves-effect" href="#!">Fourth</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Josh.care</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect" href="#!">First Sidebar Link</a></li>
            <li><a class="waves-effect" href="#!">Second Sidebar Link</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown</a></li>
            <ul id='dropdown1' class='dropdown-content grey darken-3'>
              <li><a class="waves-effect white-text" href="#!">First</a></li>
              <li><a class="waves-effect white-text" href="#!">Second</a></li>
              <li><a class="waves-effect white-text" href="#!">Third</a></li>
              <li><a class="waves-effect white-text" href="#!">Fourth</a></li>
            </ul>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
      
    </header>