{{> header}}

  <!-- Main -->
  <main>

    <!-- Header -->
    <div class="container">
     <br />
      <h1 class="header center black-text">Let's get testing</h1>
      <div class="row center">
        <h5 class="header light black-text">Throughout the ages, testing has long-aided those who haven't the slightest idea of how to begin a new endeavor. At this test site, we leap into the abyss, leaving all reason and limitation upon the ledge from which we dove.</h5>
      </div>
      <div class="row center">
        <a href="#" id="ding" class="btn-large waves-effect waves-light white-text pink lighten-2">Get Started</a>
      </div>
    </div>

  </main>

{{> footer}}