{{> header}}

  <!-- Main -->
  <main>

    <!-- Header -->
    <div class="container">
     <br />
      <h1 class="header center black-text">H One!</h1>
      <div class="row center">
        <p class="flow-text light black-text">Throughout the ages, frameworks have long-aided those who haven't the slightest idea of how to begin a new endeavor. At this test site, we leap into the abyss, leaving all reason and limitation upon the ledge from which we fearlessly dove.</p>
      </div>
      <div class="row center">
        <a href="#" id="ding" class="btn-large waves-effect black-text white">Get Started</a>
      </div>
    </div>

  </main>

{{> footer}}