/*
  Navigation
*/

// Header
nav {
  
  .nav-wrapper {
    padding:0 15px;
  }
  a {
    color:#333!important;
  }
  .brand-logo {
    @media (max-width:992px) {
      right:1rem;
      left:auto;
      transform:none;
    }
  }
}

// Footer
footer {

}

// Pushpin/Scrollspy
.table-of-contents {
  padding-top:1.5rem;
}
.pin-top {position: relative;}
.pin-bottom {position: relative;}
.pinned {position: fixed !important;}
    